<div id="<%= dom_id unidade %>">
  <p>
    <strong>Nome:</strong>
    <%= unidade.nome %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= unidade.rua %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= unidade.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= unidade.cidade %>
  </p>

  <p>
    <strong>Uf:</strong>
    <%= unidade.uf %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= unidade.numero %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= unidade.cep %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= unidade.complemento %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= unidade.status %>
  </p>

</div>
