
<div class="col-md-6 offset-md-3 text-center text-danger h-10 d-inline-block">
    <%= notice %>
</div><div class="container">
    <div class="row">
        <div class="card rounded-4 col-sm-6 offset-sm-3 col-md-4 offset-md-4 shadow p-5">
            <div class="text-center mb-4 signin loginform text-danger">
                <i class="bi bi-person fs-5"></i>
                <h1 class="h3 mb-3 font-wight-normal"><%= tipo_form %></h1>
            </div>
            <%= form_with(model: cliente, class: "signin loginform") do |form| %>
              <% if cliente.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

                  <ul>
                    <% cliente.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div>
                <%= form.label "Nome: ", class: "signin loginform text-danger mt-4" %>
                <%= form.text_field :nome, class: " form-control mt-1", placeholder: "Nome" %>
              </div>

              <div>
                <%= form.label "Email: ", class: "signin loginform text-danger mt-4"  %>
                <%= form.text_field :email, class: " form-control mt-1", placeholder: "Email" %>
              </div>

              <div>
                <%= form.label "CPF: ", class: "signin loginform text-danger mt-4"  %>
                <%= form.number_field :cpf, class: " form-control mt-1", placeholder: "CPF" %>
              </div>

              <% unless controller.controller_name == 'clientes' && controller.action_name == 'edit' %>
                <div>
                  <%= form.label "Senha: ", class: "signin loginform text-danger mt-4"  %>
                  <%= form.password_field :password, class: " form-control mt-1", placeholder: "Senha" %>
                </div>

                <div>
                  <%= form.label "Confirme a Senha: ", class: "signin loginform text-danger mt-4"  %>
                  <%= form.password_field :password_confirmation, class: " form-control mt-1", placeholder: "Confirme a Senha" %>
                </div>

              <% end %>

              <div>
                <%= form.submit class: "btn btn-danger mt-4", id: "criar" %>
              </div>
            <% end %>
        </div>
    </div>
</div>
