<div class="container">    
  <div class="row mt-3">  
    <div class="justify-content-center">
      <table class="table">
        <td class="" >
          <%= link_to root_path, class: "nav-link d-inline #{ 'text-secondary' unless controller.controller_name == 'loja'}" do %>
  <div>
    <p class="text-danger text-center fs-4 titulos-car">Sam<i class="bi bi-car-front">Car</i></p>
    <p class="text-danger text-center mn">Aluguel de Veículos</p>
  </div>
<% end %>

        </td>

        <td class="" >
          <%= link_to "Home", initial_admins_path, class:"nav-link d-inline #{ "text-secondary" unless current_page?(controller: 'admins', action: 'initial')}" %>
        </td>

        <td class="" >
          <%= link_to "Unidades", unidades_path, class:"nav-link d-inline #{ "text-secondary" unless current_page?(controller: 'admins', action: 'initial')}" %>
        </td>

        <td class="" >
          <%= link_to "Marcas", marcas_path, class:"nav-link active d-inline #{ "text-secondary" unless controller.controller_name == 'marcas'}" %>
        </td>

        <td class="" >
          <%= link_to "Veículos", veiculos_path, class:"nav-link active d-inline #{ "text-secondary" unless controller.controller_name == 'veiculos'}" %>
        </td>

      <%# if @admin.present? %>
        <td class="" >
          <%= link_to "Clientes", clientes_admins_path, class:"nav-link active #{ "text-secondary" unless controller.controller_name == 'admins' && controller.action_name == 'clientes_index'}" %>
        </td>
      <%# end %>

        <td class="" >
          <%= link_to "Reservas", reservas_admins_path, class:"nav-link active #{ "text-secondary" unless controller.controller_name == 'admins' && controller.action_name == 'reservas'}" %>
        </td>

        <td class="" >
          <%= link_to "Administradores", admins_path, class:"nav-link active #{ "text-secondary" unless current_page?(controller: 'admins', action: 'index')}" %>
        </td>

        <td class="" >
          <%= link_to "Sair", logout_admin_path, class:"nav-link active text-secondary" %>
        </td>
      </table>
      <hr class="fs-5">
      <%= @admin %>
    </div>
  </div>
</div>
