<p style="color: green"><%= notice %></p>

<h1 class="text-center">Admins</h1>

<div class=""></div>

<div id="admins" class=" m-5">

<%= link_to "Cadastrar Novo admin", new_admin_path, class: "btn btn-primary" %>

  <table class="table">
    <tr>
      <th>Nome: </th>
      <th>Email: </th>
      <th colspan="2">Ações: </th>
    </tr>
  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.nome %></td>
      <td><%= admin.email %></td>
      <td><%= link_to "", edit_admin_path(admin), class: "bi bi-pencil" %></td>
      <td><%= link_to "", admin_path(admin), method: :delete, data: { confirm: "Tem certeza?" }, class: "bi bi-trash text-danger" %></td>
    </tr>
  <% end %>
  </table>
</div>

