<p style="color: green"><%= notice %></p>

<h1 class="text-center">Admins</h1>

<div class=""></div>

<div id="admins" class=" m-5">

<%= link_to "Cadastrar Novo admin", new_admin_path, class: "btn btn-primary" %>

  <table class="table table-hover mt-3">
    <thead class="thead-dark">
      <tr class="rounded">
        <th class="bg-dark text-light">Nome: </th>
        <th class="bg-dark text-light">Email: </th>
        <th class="bg-dark text-light" colspan="2">Ações: </th>
      </tr>
     </thead>
     <tbody>
  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.nome %></td>
      <td><%= admin.email %></td>
      <td><%= link_to "", edit_admin_path(admin), class: "bi bi-pencil" %></td>
      <td><%= link_to "", admin_path(admin), method: :delete, data: { confirm: "Tem certeza?" }, class: "bi bi-trash text-danger" %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

