<%= form_with(model: [@cliente, reserva]) do |form| %>
  <% if reserva.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
        <% reserva.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :veiculo_id, style: "display: block" %>
    <%= form.select :veiculo_id, @veiculos.map { |veiculo| [veiculo.nome, veiculo.id] } %>
  </div>

  <div>
    <%= form.label :tempo_espera, style: "display: block" %>
    <%= form.number_field :tempo_espera %>
  </div>

  <div>
    <%= form.label "Data Inicial", style: "display: block" %>
    <%= form.date_field :dt_inicial %>
  </div>

  <div>
    <%= form.label "Data de entrega", style: "display: block" %>
    <%= form.date_field :dt_final %>
  </div>

  <div>
    <%= form.label :valor_total, style: "display: block" %>
    <%= form.text_field :valor_total %>
  </div>

  <div>
    <%= form.label :pagamento_na_retirada, style: "display: block" %>
    <%= form.check_box :pagamento_na_retirada %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
