<div id="<%= dom_id reserva %>">
  <p>
    <strong>Veiculo:</strong>
    <%= reserva.veiculo_id %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= reserva.cliente_id %>
  </p>

  <p>
    <strong>Tempo espera:</strong>
    <%= reserva.tempo_espera %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= reserva.valor_total %>
  </p>

  <p>
    <strong>Dt inicial:</strong>
    <%= reserva.dt_inicial %>
  </p>

  <p>
    <strong>Dt final:</strong>
    <%= reserva.dt_final %>
  </p>

  <p>
    <strong>Pagamento na retirada:</strong>
    <%= reserva.pagamento_na_retirada %>
  </p>

</div>
