<div id="<%= dom_id reserva %>">
  <p>
    <strong>Veículo:</strong>
    <%= reserva.veiculo.nome %>
  </p>

  <p>
    <strong>Data da retirada:</strong>
    <%= reserva.dt_inicial %>
  </p>

  <p>
    <strong>Hora da retirada:</strong>
    <%= reserva.hr_inicial %>
  </p>

  <p>
    <strong>Local  da retirada:</strong>
    <%= reserva.veiculo.unidade.nome %>
  </p>

  

</div>
