<p style="color: green"><%= notice %></p>

<h1 class="text-center">Minhas Reservas</h1>

<div id="reservas" class=" m-5">


  <table class="table table-hover mt-3">
    <thead class="thead-dark">
      <tr class="rounded">
      <th class="bg-dark text-light">Carro</th>
      <th class="bg-dark text-light">Marca</th>
      <th class="bg-dark text-light">Ano</th>
      <th class="bg-dark text-light">Diária</th>
      <th class="bg-dark text-light">Período</th>
      <th class="bg-dark text-light">Qtde Dias</th>
      <th class="bg-dark text-light">Seg. Extra</th>
      <th class="bg-dark text-light">Uni. Retirada</th>
      <th class="bg-dark text-light">Total</th>
      <th class="bg-dark text-light">Pagamento</th>
      <th colspan="3" class="bg-dark text-light">Ações</th>
    </tr>
    <thead>
      <% @reservas.each do |reserva| %>
    <tr>

        <td><%= reserva.veiculo.nome %></td>
        <td><%= reserva.veiculo.marca.nome %></td>
        <td><%= reserva.veiculo.ano %></td>
        <td><%= number_to_currency(reserva.veiculo.valor) %></td>
        <td><%= reserva.dt_inicial.to_formatted_s(:short) %> a <%= (reserva.dt_inicial + (reserva.qt_dias).to_i.days).to_formatted_s(:short) %></td>
        <td><%= reserva.qt_dias %></td>
        <td><%= reserva.seguro_extra %></td>
        <td><%= reserva.veiculo.unidade.nome %></td>
        <td><%= number_to_currency(reserva.valor_total) %></td>
        <td><%= reserva.status.humanize %></td>
        <td><%= link_to "", cliente_reserva_show_path(@cliente, reserva), class: "bi bi-cash-coin text-success" if reserva.status == 'pagamento_pendente' %></td>
        <td><%= link_to "", edit_reserva_admins_path(reserva), class: "bi bi-pencil" %></td>
      <td><%= link_to "", destroy_reserva_admins_path(reserva), method: :delete, data: { confirm: "Tem certeza?" }, class: "bi bi-trash text-danger" %></td>
    </tr>
      <% end %>
  <table>
</div>

