<p style="color: green"><%= notice %></p>

<h1 class="text-center">Detalhes da Reserva</h1>

<div id="reservas" class=" m-5">


  <table class="table table-hover mt-3">
    <thead class="thead-danger">
      <tr class="rounded">
      <th class="bg-dark text-light">Cliente</th>
      <th class="bg-dark text-light">Carro</th>
      <th class="bg-dark text-light">Marca</th>
      <th class="bg-dark text-light">Ano</th>
      <th class="bg-dark text-light">Diária</th>
      <th class="bg-dark text-light">Período</th>
      <th class="bg-dark text-light">Qtde Dias</th>
      <th class="bg-dark text-light">Seg. Extra</th>
      <th class="bg-dark text-light">Uni. Retirada</th>
      <th class="bg-dark text-light">Total</th>
      <th class="bg-dark text-light">Status</th>
      <th colspan="2" class="bg-dark text-light">Ações</th>
    </tr>
    <thead>
    <tr>

        <td><%= @reserva.cliente.nome %></td>
        <td><%= @reserva.veiculo.nome %></td>
        <td><%= @reserva.veiculo.marca.nome %></td>
        <td><%= @reserva.veiculo.ano %></td>
        <td><%= number_to_currency(@reserva.veiculo.valor) %></td>
        <td><%= @reserva.dt_inicial.to_formatted_s(:short) %> a <%= (@reserva.dt_inicial + (@reserva.qt_dias).to_i.days).to_formatted_s(:short) %></td>
        <td><%= @reserva.qt_dias %></td>
        <td><%= @reserva.seguro_extra %></td>
        <td><%= @reserva.veiculo.unidade.nome %></td>
        <td><%= number_to_currency(@reserva.valor_total) %></td>
        <td><%= @reserva.status.to_s.humanize.titleize %></td>
        <td><%= link_to "", edit_reserva_admins_path(@reserva), class: "bi bi-pencil" %></td>
      <td><%= link_to "", destroy_reserva_admins_path(@reserva), method: :delete, data: { confirm: "Tem certeza?" }, class: "bi bi-trash text-danger" %></td>
    </tr>
  <table>

    <%= link_to "Ir para pagamento", cliente_loja_pagamento_path(@cliente, @reserva), method: :post, class: "btn btn-success fs-4" if @pagar.nil? %>

    <%= link_to "Voltar para Reservas", '/reservas', class: "m-3 btn btn-secondary fs-7" if @pagar.nil? %>
</div>

