<div class="text-center text-danger h-10 d-inline-block">
    <%= notice %>
</div>
<div class="container carrosel-cars">
    <div class="row justify-content-center">

        <% @veiculo %>

            <div class="rounded col-sm-3 sb-datalhes">
                <div class="rounded diag-cards-datalhes text-center pt-4">
                    <p class="titulos-car h3"><%= @veiculo.nome %></p>
                    <%= no_image_check(@veiculo, :mid1_thumb) %>
                </div>
            </div>

            <div class="col-sm-9 ">

                <div class="container">

                    <div class="row">

                        <div class="rounded sb-datalhes">
                            <div class="container rounded diag-cards-datalhes p-4">
                                
                                <table class="table">
                                <tr>
                                    <th>Max. de passageiros</th>
                                    <th>Valor da diária</th>
                                    <th>Ano</th>
                                    <th>Disponível</th>
                                    <th>Seguro Obrigatório</th>
                                    <th>Seguro Extra/Vidros/Etc</th>
                                    <th>Dias</th>
                                </tr>
                                <tr>
                                <td><%= @veiculo.qnt_passageiros %>
                                </td>
                                <td>
                                    <%= number_to_currency(@veiculo.valor) %>
                                    <input type="hidden" id="valorDiaria" value="<%= @veiculo.valor %>">
                                </td>
                                <td>
                                    <%= @veiculo.ano %>
                                </td>
                                <td>
                                    <% %>
                                </td>
                                <td>
                                    <i class="bi bi-check-lg text-primary fs-5"></i>
                                </td>
                                <td>
                                    <select id="seguroExtra" name="seguroExtra" onchange="atualizaTotais();">
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="qtDias" name="qtDias" onchange="atualizaTotais();">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        Subtotal de diárias
                                    </td>
                                    <td colspan="2">
                                        R$ <span id="totalDiarias"></span>
                                    </td>
                                <tr>
                                    <td colspan="5">
                                        Total de seguros
                                    </td>
                                    <td colspan="2">
                                        R$ <span id="totalSeguros"></span>
                                    </td>

                                </tr>
                                <tr class="fw-bold">
                                    <td colspan="5" >
                                        Valor total
                                    </td>
                                    <td colspan="2">
                                        R$ <span id="valorTotal"></span>
                                    </td>

                                </tr>
                                



                                </table>
                            </div>
                        </div>
                    
                    </div>

                    <div class="row">
                        <div class="rounded sb-datalhes col-8 offset-2">
                            <%# link_to loja_locacao_path, class: "text-decoration-none" do %>
                                <div class="container rounded diag-cards-datalhes p-2 bg-success text-center">
                                    <button class="text-light h4" onclick="finalizaPagamento();">Registrar Reserva</button>
                                </div>
                            <%# end %>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row m-5 justify-content-center">
                <%= link_to "Voltar", '/', class: "col-2 btn btn-secondary" %>
            </div>
        
    </div>
</div>

<script>

    function atualizaTotais(){

    const qtDias = document.getElementById("qtDias").value;
    const valorDiaria = document.getElementById("valorDiaria").value;
    const valorTotal = document.getElementById("valorTotal");
    const totalSeguros = document.getElementById("totalSeguros");
    const seguroExtra = document.getElementById("seguroExtra").value;
    const totalDiarias = document.getElementById("totalDiarias");

    
    let somaSegExt = 0

    if (seguroExtra == 1) {
        somaSegExt = (parseInt(qtDias) * valorDiaria) * 0.08;
    } 

    let somaDiariass = parseInt(qtDias) * valorDiaria;
    replaceDiarias = somaDiariass.toFixed(2);
    totalDiarias.innerHTML = replaceDiarias.replace(".", ",");

    let somaSeguros = (parseInt(qtDias) * valorDiaria) * 0.1;
    replaceSeguros = somaSeguros.toFixed(2);
    totalSeguros.innerHTML = replaceSeguros.replace(".", ",");

    let somaTotal = (parseInt(qtDias) * valorDiaria) + somaSeguros + somaSegExt;
    replaceTotal = somaTotal.toFixed(2);
    valorTotal.innerHTML = replaceTotal.replace(".", ",");

    }

    atualizaTotais();


    PagSeguroDirectPayment.setSessionId("<%= @session_id %>");

    function finalizaPagamento(){
        //e.preventDefault();
        const pre_total = document.getElementById("valorTotal").innerText;
        const total = pre_total.replace(",", ".");

        PagSeguroDirectPayment.getPaymentMethods({
            amount: 50000,//parseFloat(total).toFixed(2),
            success: function(response) {
                console.log(response);

                PagSeguroDirectPayment.onSenderHashReady(function(response){
                    if(response.status == 'error') {
                        console.log(response.message);
                        return false;
                    }
                    var hash = response.senderHash; //Hash estará disponível nesta variável.
                });
            },
            error: function(response){
                debugger;
                console.log(response);
            },
            complete: function(response){
                debugger;
                console.log(response);
            }
        });
    }

</script>