
<div class="container carrosel-cars">
    <div class="row justify-content-center">

            <div class="rounded col-sm-3 sb-datalhes">
                <div class="rounded diag-cards-datalhes text-center pt-4">
                    <p class="titulos-car h3"><%= @veiculo.nome %>&nbsp<%= @veiculo.ano %></p>
                    <%= no_image_check(@veiculo, :mid1_thumb) %>
                </div>
            </div>

            <div class="col-sm-9 ">

                <div class="container">

                    <div class="row">

                        <div class="rounded sb-datalhes">
                            <div class="container rounded diag-cards-datalhes p-3">
                                
                                <table class="table">
                                    <div class="text-center text-danger h-10 d-inline-block justify-content-center fw-bold">
                                        <%= notice %>
                                    </div>
                                    <%= form_with(model: @reserva, url: cadastrar_reserva_path(qt_dias: params[:qtDias])) do |form| %>
                                    <% if @reserva.errors.any? %>
                                        <div style="color: red">
                                        <h2><%= pluralize(@reserva.errors.count, "error") %> prohibited this veiculo from being saved:</h2>

                                        <ul>
                                            <% @reserva.errors.each do |error| %>
                                            <li><%= error.full_message %></li>
                                            <% end %>
                                        </ul>
                                        </div>
                                    <% end %>
                                <tr>
                                    <th colspan="3"><%= form.label "Local de Retirada" %></th>
                                    <th colspan="2"><%= form.label "Data da retirada" %></th>
                                    <th colspan="2"><%= form.label "Hora da retirada" %></th>
                                </tr>
                                <tr>
                                    <td colspan="3"><%= form.hidden_field :unidade_id, value: @unidade_partida.id %>
                                    <%= @unidade_partida.nome %></td>
                                    <%= form.hidden_field :veiculo_id, value: @veiculo.id %>
                                    <td colspan="2"><%= form.text_field :dt_inicial, value: Date.parse(@parametros.first["dt_partida"]).strftime("%d/%m/%Y"), readonly: true, style: "border: none;" %></td>


                                    <td colspan="2"><%= form.text_field :hr_inicial, value: @parametros.first["hr_partida"], readonly: true, style: "border: none;" %></td>

                                </tr>
                                <tr>
                                    <td colspan="7"></td>
                                </tr>
                                <tr>
                                    <th>Max. de passageiros</th>
                                    <th>Valor da diária</th>
                                    <th>Ano</th>
                                    <th>Disponível</th>
                                    <th>Seguro Obrigatório</th>
                                    <th>Seguro Vidros</th>
                                    <th>Dias</th>
                                </tr>
                                <tr>
                                <td><%= @veiculo.qnt_passageiros %>
                                </td>
                                <td>
                                    <%= number_to_currency(@veiculo.valor) %>
                                    <input type="hidden" id="valorDiaria" value="<%= @veiculo.valor %>">
                                </td>
                                <td>
                                    <%= @veiculo.ano %>
                                </td>
                                <td>
                                    <% %>
                                </td>
                                <td>
                                    <i class="bi bi-check-lg text-primary fs-5"></i>
                                </td>
                                <td>
                                    <select id="seguroExtra" name="seguroExtra" onchange="atualizaTotais();">
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <%= form.select :qt_dias, (1..7), {}, { onchange: 'atualizaTotais();' } %>
                                </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        Subtotal de diárias
                                    </td>
                                    <td colspan="2">
                                        R$ <span id="totalDiarias"></span>
                                    </td>
                                <tr>
                                    <td colspan="5">
                                        Total de seguros
                                    </td>
                                    <td colspan="2">
                                        R$ <span id="totalSeguros"></span>
                                    </td>

                                </tr>
                                <tr class="fw-bold">
                                    <td colspan="5" >
                                        Valor total
                                    </td>
                                    <td colspan="2">
                                        R$ <span id="valorTotal"></span>
                                        <%= form.hidden_field :valor_total, as: :hidden, id: "valTot" %>
                                    </td>

                                </tr>
                                



                                </table>
                            </div>
                        </div>
                    
                    </div>

                    <div class="row">
                        <div class="rounded sb-datalhes col-8 offset-2">
                            <%# button_to reserva_path, class: "container rounded diag-cards-datalhes p-2 bg-success text-center text-light h4" do %>
                                <div class="">
                                </div></button>
                            <%# end %>
                        </div>

                        <div>
                            <%= form.submit class: "btn btn-success" %>
                        </div>
                        <% end %>
                    </div>
                </div>

            </div>

            <div class="row m-5 justify-content-center">
                <%= link_to "Voltar", '/', class: "col-2 btn btn-secondary" %>
            </div>
        
    </div>
</div>

<script>

    function atualizaTotais(){

    const qtDias = document.getElementById("qtDias").value;
    const valorDiaria = document.getElementById("valorDiaria").value;
    const valorTotal = document.getElementById("valorTotal");
    const totalSeguros = document.getElementById("totalSeguros");
    const seguroExtra = document.getElementById("seguroExtra").value;
    const totalDiarias = document.getElementById("totalDiarias");

    
    let somaSegExt = 0

    if (seguroExtra == 1) {
        somaSegExt = (parseInt(qtDias) * valorDiaria) * 0.08;
    } 

    let somaDiariass = parseInt(qtDias) * valorDiaria;
    replaceDiarias = somaDiariass.toFixed(2);
    totalDiarias.innerHTML = replaceDiarias.replace(".", ",");

    let somaSeguros = (parseInt(qtDias) * valorDiaria) * 0.1;
    replaceSeguros = somaSeguros.toFixed(2);
    totalSeguros.innerHTML = replaceSeguros.replace(".", ",");

    let somaTotal = (parseInt(qtDias) * valorDiaria) + somaSeguros + somaSegExt;
    replaceTotal = somaTotal.toFixed(2);
    valorTotal.innerHTML = replaceTotal.replace(".", ",");

    }

    atualizaTotais();


    PagSeguroDirectPayment.setSessionId("<%= @session_id %>");

    function finalizaPagamento(){
        //e.preventDefault();
        const pre_total = document.getElementById("valorTotal").innerText;
        const total = pre_total.replace(",", ".");

        PagSeguroDirectPayment.getPaymentMethods({
            amount: 50000,//parseFloat(total).toFixed(2),
            success: function(response) {
                console.log(response);

                PagSeguroDirectPayment.onSenderHashReady(function(response){
                    if(response.status == 'error') {
                        console.log(response.message);
                        return false;
                    }
                    var hash = response.senderHash; //Hash estará disponível nesta variável.
                });
            },
            error: function(response){
                debugger;
                console.log(response);
            },
            complete: function(response){
                debugger;
                console.log(response);
            }
        });
    }


 document.addEventListener('DOMContentLoaded', function() {
        var valorSpan = document.getElementById('valorTotal');
        var valorHidden = document.getElementById('valTot');
        valorHidden.value = valorSpan.textContent;
    });
</script>