<div class="text-center text-danger h-10 d-inline-block">
    <%= notice %>
</div>
<div class="container carrosel-cars">
    <div class="row justify-content-center">
        <div class="rounded col-sm-2 sombra">
            <div class="rounded diagonal-cards text-center pt-4">
                <p class="titulos-car">Onix 2022</p>
                <p class="fw-bold">R$ 129,00</p>
                <%= image_tag("onix", size: "200x120") %>
            </div>
        </div>
        <div class="rounded col-sm-2 sombra mt-2">
            <div class="rounded diagonal-cards text-center pt-4">
            <p class="titulos-car">Civic 2023</p>
                <p class="fw-bold">R$ 189,00</p>
                <%= image_tag("civic", size: "200x120") %>
            </div>
        </div>
        <div class="rounded col-sm-2 sombra mt-3">
            <div class="rounded diagonal-cards text-center pt-4">
            <p class="titulos-car">Ecosport 2021</p>
                <p class="fw-bold">R$ 149,00</p>
                <%= image_tag("ecosport", size: "200x120") %>
            </div>
        </div>
        <div class="rounded col-sm-2 sombra mt-4">
            <div class="rounded diagonal-cards text-center pt-4">
            <p class="titulos-car">Citroen 2022</p>
                <p class="fw-bold">R$ 159,00</p>
                <%= image_tag("citroen", size: "200x120") %>
            </div>
        </div>
        <div class="rounded col-sm-2 sombra mt-5">
            <div class="rounded diagonal-cards text-center pt-4">
            <p class="titulos-car">Onix 2022</p>
                <p class="fw-bold">R$ 129,00</p>
                <%= image_tag("onix", size: "200x120") %>
            </div>
        </div>
    </div>
</div>