<div class="col-4 offset-4 text-center text-danger h-10 d-inline-block">
    <%= notice %>
</div>
<div class="container carrosel-cars">
    <div class="row justify-content-center">

        <% @veiculos.each do |veiculo| %>

            <div class="rounded col-sm-2 sombra">
                <%= link_to loja_veiculo_path(veiculo), class: "nav-link" do %>
                    <div class="rounded diagonal-cards text-center pt-4">
                        <p class="titulos-car"><%= veiculo.nome %> <%= veiculo.ano %></p>
                        <p class="fw-bold"><%= number_to_currency(veiculo.valor) %></p>
                        <%= no_image_check(veiculo, :mid2_thumb) %>
                    </div>
                <% end %>
            </div>
            
        <% end %>

        
    </div>
</div>