<div class="text-center text-danger h-10 d-inline-block">
    <%= notice %>
</div>
<div class="container carrosel-cars">
    <div class="row justify-content-center">

        <% @veiculos.each do |veiculo| %>

            <div class="rounded col-sm-2 sombra">
                <div class="rounded diagonal-cards text-center pt-4">
                    <p class="titulos-car"><%= veiculo.nome %> <%= veiculo.ano %></p>
                    <p class="fw-bold">R$ <%= veiculo.valor %></p>
                    <%= no_image_check(veiculo, :mid2_thumb) %>
                </div>
            </div>

        <% end %>

        
    </div>
</div>