<h1 class="text-center">Pagamento</h1>

<div class="text-center text-danger h-10 d-inline-block">
    <%= notice %>
</div>

<div class="container carrosel-cars">
    <div class="row justify-content-center">

        <% @veiculo %>

            <div class="rounded col-sm-3 sb-datalhes">
                <div class="rounded diag-cards-datalhes text-center pt-4">
                    <p class="titulos-car h3"><%= @reserva.veiculo.nome %></p>
                    <%= no_image_check(@reserva.veiculo, :mid1_thumb) %>
                </div>
            </div>

            <div class="col-sm-9 ">

                <div class="container">

                    <div class="row">

                        <div class="rounded sb-datalhes">
                            <div class="container rounded diag-cards-datalhes p-4">
                                
                                <table class="table">
                                <tr>
                                    <th colspan="3">Local de Retirada</th>
                                    <th colspan="2">Data da retirada</th>
                                    <th colspan="2">Hora da retirada</th>
                                </tr>
                                <tr>
                                    <td colspan="3"><%= @reserva.veiculo.unidade.nome %></td>
                                    <td colspan="2"><%= @reserva.dt_inicial %></td>


                                    <td colspan="2"><%= @reserva.hr_inicial %></td>

                                </tr>
                                <tr>
                                    <td colspan="7"></td>
                                </tr>
                                <tr>
                                    <th>Max. de passageiros</th>
                                    <th>Valor da diária</th>
                                    <th>Ano</th>
                                    <th>Disponível</th>
                                    <th>Seguro Obrigatório</th>
                                    <th>Seguro Extra/Vidros/Etc</th>
                                    <th>Dias</th>
                                </tr>
                                <tr>
                                <td><%= @reserva.veiculo.qnt_passageiros %>
                                </td>
                                <td>
                                    <%= number_to_currency(@reserva.veiculo.valor) %>
                                    <input type="hidden" id="valorDiaria" value="<%= @reserva.veiculo.valor %>">
                                </td>
                                <td>
                                    <%= @reserva.veiculo.ano %>
                                </td>
                                <td>
                                    <% %>
                                </td>
                                <td>
                                    <i class="bi bi-check-lg text-primary fs-5"></i>
                                </td>
                                <td>
                                    <select id="seguroExtra" name="seguroExtra" onchange="atualizaTotais();">
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="qtDias" name="qtDias" onchange="atualizaTotais();">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        Subtotal de diárias
                                    </td>
                                    <td colspan="2">
                                        R$ <span id="totalDiarias"></span>
                                    </td>
                                <tr>
                                    <td colspan="5">
                                        Total de seguros
                                    </td>
                                    <td colspan="2">
                                        R$ <span id="totalSeguros"></span>
                                    </td>

                                </tr>
                                <tr class="fw-bold">
                                    <td colspan="5" >
                                        Valor total
                                    </td>
                                    <td colspan="2">
                                        <span id="valor_total"><%= number_to_currency(@reserva.valor_total) %></span>
                                    </td>

                                </tr>
                                



                                </table>
                            </div>
                        </div>
                    
                    </div>

                    <%= render 'cartao' %>

                    <div class="row">
                        <div class="rounded sb-datalhes col-8 offset-2">
                            <%# link_to loja_locacao_path, class: "text-decoration-none" do %>
                                    <button class="container rounded diag-cards-datalhes p-2 bg-success text-center text-light h4" onclick="finalizaPagamento();">
                                <div class="">Registrar Reserva
                                </div></button>
                            <%# end %>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row m-5 justify-content-center">
                <%= link_to "Voltar", '/', class: "col-2 btn btn-secondary" %>
            </div>
        
    </div>
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
  // Aplicar a máscara para um campo de telefone
//  Inputmask({ mask: '9999 9999 9999 9999' }).mask(document.getElementById('cartao'));

  if($('#cartao').length) $('#cartao').mask('0000 0000 0000 0000', {reverse: true});
  if($('#mes').length) $('#mes').mask('99', {reverse: true});
  if($('#ano').length) $('#ano').mask('9999', {reverse: true});
  if($('#cvc').length) $('#cvc').mask('999', {reverse: true});

});
   
    PagSeguroDirectPayment.setSessionId("<%= @session_id %>");

    function finalizaPagamento(){
        //e.preventDefault();
        const pre_total = document.getElementById("valor_total").innerText;
        const total = pre_total.replace(",", "");
        const valor_total = total.replace("R$ ", "")
        const pre_cartao = document.getElementById("cartao").value;
        const numeroCartao = pre_cartao.replace(/\s/g, '');
        const numeroBandeira = parseInt(numeroCartao.substr(0, 6));
        const cardName = document.getElementById("cartao_nome").value;
        const expMonth = document.getElementById("mes").value;
        const expYear = document.getElementById("ano").value;
        const cvv = document.getElementById("cvv").value;

        PagSeguroDirectPayment.getPaymentMethods({
            amount: valor_total,//parseFloat(total).toFixed(2),
            success: function(response) {

                PagSeguroDirectPayment.onSenderHashReady(function(response){
                    if(response.status == 'error') {
                        console.log(response.message);
                        return false;
                    }
                    var hash = response.senderHash; //Hash estará disponível nesta variável.
                    PagSeguroDirectPayment.getBrand({
                        cardBin: numeroBandeira,
                        success: function(response) {
                        //bandeira encontrada
                        console.log(response);
                        console.log("bandeira encontrada");
                            PagSeguroDirectPayment.getInstallments({
                                amount: valor_total,
                                maxInstallmentNoInterest: 3,
                                brand: response.brand.name,
                                success: function(response){
                                    console.log(response);
                                    console.log("Valor das parcelas calculado");
                                    PagSeguroDirectPayment.createCardToken({
                                        cardNumber: numeroCartao, // Número do cartão de crédito
                                        brand: response.brand.name, // Bandeira do cartão
                                        cvv: cvv, // CVV do cartão
                                        expirationMonth: expMonth, // Mês da expiração do cartão
                                        expirationYear: expYear, // Ano da expiração do cartão, é necessário os 4 dígitos.
                                        success: function(response) {
                                            console.log(response);
                                                // Retorna o cartão tokenizado.
                                        },
                                        error: function(response) {
                                                    // Callback para chamadas que falharam.
                                        },
                                        complete: function(response) {
                                                // Callback para todas chamadas.
                                        }
                                        });
                                        // Retorna as opções de parcelamento disponíveis
                                },
                                    error: function(response) {
                                        // callback para chamadas que falharam.
                                        console.log("Valor das parcelas NÃO calculado");
                                },
                                    complete: function(response){
                                        // Callback para todas chamadas.
                                }
                            });
                        },
                        error: function(response) {
                        //tratamento do erro
                        console.log("bandeira não encontrada");
                        },
                        complete: function(response) {
                        //tratamento comum para todas chamadas
                        }
                    });
                });
            },
            error: function(response){
                console.log(response);
            },
            complete: function(response){
                console.log(response);
            }
        });
    }


function atualizaParcelas(){

    const pre_total = document.getElementById("valor_total").innerText;
        const total = pre_total.replace(",", ".");
        const valor_total = total.replace("R$ ", "")
        const pre_cartao = document.getElementById("cartao").value;
        const numeroCartao = pre_cartao.replace(/\s/g, '');
        const numeroBandeira = parseInt(numeroCartao.substr(0, 6));
        const cardName = document.getElementById("cartao_nome").value;
        const expMonth = document.getElementById("mes").value;
        const expYear = document.getElementById("ano").value;
        const cvv = document.getElementById("cvv").value;

        PagSeguroDirectPayment.getPaymentMethods({
            amount: valor_total,//parseFloat(total).toFixed(2),
            success: function(response) {

                PagSeguroDirectPayment.onSenderHashReady(function(response){
                    if(response.status == 'error') {
                        console.log(response.message);
                        return false;
                    }
                    var hash = response.senderHash; //Hash estará disponível nesta variável.
                    PagSeguroDirectPayment.getBrand({
                        cardBin: numeroBandeira,
                        success: function(response) {
                        //bandeira encontrada
                        window.brandName = response.brand.name
                        console.log(response);
                        console.log("bandeira encontrada");
                            PagSeguroDirectPayment.getInstallments({
                                amount: valor_total,
                                maxInstallmentNoInterest: 3,
                                brand: response.brand.name,
                                success: function(response){
                                    console.log(response);
                                    console.log("Valor das parcelas calculado");
                                        // Retorna as opções de parcelamento disponíveis
                                    var select = document.getElementById("qtParcelas");
                                    select.innerHTML = "";
                                    debugger
                                    // Adiciona uma opção para cada parcela
                                    response.installments[brandName].forEach(function(parcela, index) {
                                        var option = document.createElement("option");
                                        var juros = parcela.interestFree ? ' sem' : ' com';
                                        option.text = (index + 1) + 'x de R$ ' + parseFloat(parcela.installmentAmount).toFixed(2).replace(".", ",") + juros + ' juros';
                                        select.add(option);
                                    });
                                },
                                    error: function(response) {
                                        // callback para chamadas que falharam.
                                        console.log("Valor das parcelas NÃO calculado");
                                },
                                    complete: function(response){
                                        // Callback para todas chamadas.
                                }
                            });
                        },
                        error: function(response) {
                        //tratamento do erro
                        console.log("bandeira não encontrada");
                        },
                        complete: function(response) {
                        //tratamento comum para todas chamadas
                        }
                    });
                });
            },
            error: function(response){
                console.log(response);
            },
            complete: function(response){
                console.log(response);
            }
        });
    }

    

</script>