<%= form_with(model: veiculo) do |form| %>
  <% if veiculo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(veiculo.errors.count, "error") %> prohibited this veiculo from being saved:</h2>

      <ul>
        <% veiculo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cor, style: "display: block" %>
    <%= form.text_field :cor %>
  </div>

  <div>
    <%= form.label :qnt_passageiros, style: "display: block" %>
    <%= form.text_field :qnt_passageiros %>
  </div>

  <div>
    <%= form.label :placa, style: "display: block" %>
    <%= form.text_field :placa %>
  </div>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.text_field :ano %>
  </div>
  <div>
    <%= form.label :marca_id, style: "display: block" %>
    <%= form.collection_select :marca_id, @marcas, :id, :nome %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.label :unidade_id, style: "display: block" %>
    <%= form.collection_select :unidade_id, @unidades, :id, :nome %>
  </div>

  <div>
    <%= form.label :imagem, style: "display: block" %>
    <%= form.file_field :imagem %>
  </div>

  <div>
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
