<div id="<%= dom_id veiculo %>">
  <p>
    <strong>Nome:</strong>
    <%= veiculo.nome %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= veiculo.cor %>
  </p>

  <p>
    <strong>Qnt passageiros:</strong>
    <%= veiculo.qnt_passageiros %>
  </p>

  <p>
    <strong>Placa:</strong>
    <%= veiculo.placa %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= veiculo.marca.nome %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= veiculo.valor %>
  </p>

</div>
