<p style="color: green"><%= notice %></p>

<h1 class="text-center">Veiculos</h1>

<div id="veiculos" class=" m-5">

  <%= link_to "Cadastrar Veiculo", new_veiculo_path, class: "btn btn-primary" %>

<table class="table table-hover mt-3">
    <thead class="thead-dark">
      <tr class="rounded">
      <th class="bg-dark text-light"><%= link_to "Foto", request.params.merge(sort_by: "imagem"), class: "nav-link" %></th>
    <th class="bg-dark text-light"><%= link_to "Nome", request.params.merge(sort_by: "nome"), class: "nav-link" %></th>
    <th class="bg-dark text-light"><%= link_to "Cor", request.params.merge(sort_by: "cor"), class: "nav-link" %></th>
    <th class="bg-dark text-light"><%= link_to "Lotação", request.params.merge(sort_by: "qnt_passageiros"), class: "nav-link" %></th>
    <!-- Adicione links para outras colunas conforme necessário -->
    <th class="bg-dark text-light"><%= link_to "Placa", request.params.merge(sort_by: "placa"), class: "nav-link" %></th>
    <th class="bg-dark text-light"><%= link_to "Ano", request.params.merge(sort_by: "ano"), class: "nav-link" %></th>
    <th class="bg-dark text-light"><%= link_to "Marca", request.params.merge(sort_by: "marca"), class: "nav-link" %></th>
    <th class="bg-dark text-light"><%= link_to "Valor", request.params.merge(sort_by: "valor"), class: "nav-link" %></th>
    <th class="bg-dark text-light"><%= link_to "Unidade", request.params.merge(sort_by: "unidade"), class: "nav-link" %></th>
    <th class="bg-dark text-light"><%= link_to "Status", request.params.merge(sort_by: "status"), class: "nav-link" %></th>
      <th colspan="2" class="bg-dark text-light">Ações</th>
    </tr>
    <thead>
  <% @veiculos.each do |veiculo| %>
    <tr>
    
        <td><%= no_image_check(veiculo, :cart_avatar) %>
        <td><%= veiculo.nome %></td>
        <td><%= veiculo.cor %></td>
        <td><%= veiculo.qnt_passageiros %></td>
        <td><%= veiculo.placa.upcase %></td>
        <td><%= veiculo.ano %></td>
        <td><%= veiculo.marca.nome %></td>
        <td><%= number_to_currency(veiculo.valor) %></td>
        <td><%= veiculo.unidade.nome %></td>
        <td><%= veiculo.status.camelize %></td>
        <td><%= link_to "", edit_veiculo_path(veiculo), class: "bi bi-pencil" %></td>
      <td><%= link_to "", veiculo_path(veiculo), method: :delete, data: { confirm: "Tem certeza?" }, class: "bi bi-trash text-danger" %></td>
      <% end %>
    </tr>
  <table>
          
      
</div>

