<div class="container">    
  <div class="row mt-3">  
    <div class="justify-content-center  gradient-bg diagonal-background rounded rounded-bottom-5">
      <table class="table">
        <td class="bg-transparent text-dark" >
              <%= link_to "Home", root_path, class:" custom-a nav-link d-inline #{ "text-light" unless controller.controller_name == 'loja'}" %>
        </td>

        <td class="bg-transparent text-dark" >
          <%= link_to "Cadastrar", new_cliente_path, class:" custom-a nav-link active d-inline #{ "text-light" unless controller.controller_name == 'clientes'}" %>
        </td>

        <td class="bg-transparent text-dark" >
          <%= link_to "Login", login_cliente_path, class:" custom-a nav-link active d-inline #{ "text-light" unless controller.controller_name == 'login_cliente'}" %>
        </td>


        <td class="bg-transparent text-dark" >
          <%= link_to "Sair", logout_cliente_path, class:" custom-a nav-link active #{ "text-light" unless controller.controller_name == 'admin'}" %>
        </td>
      </table>
      <div class="container">
        <div class="row">
          <div class="col-9">
            <form class="form" action="/" method="get" >
              <input type="text" id="busca" class="rounded border-0" name="nome" value="<%= params[:nome] %>" placeholder="Buscar veículos...">
              <button type="submit" class="btn btn-warning">Pesquisar</button>
            </form>
          </div>
          <a href="/" class="nav-link col-3 mt-1">  
            <div >
              <p class="text-light fs-7 text-center fs-1 titulos-car">Sam<i class="bi bi-car-front">Car</i></p>
              <p class="text-light fs-8 text-center mn">Aluguel de Veículos</p>
            </div>
          </a>  
        </div>
      </div>
    </div>
  </div>
</div>
