<div class="container">    
  <div class="row mt-3">  
    <div class="justify-content-center  gradient-bg diagonal-background rounded rounded-bottom-5">
      <table class="table">

        <%= menu_item("Home", root_path, "loja") %>

        <%= menu_item("Promoções", root_path, "login_cliente") %>

        <%= menu_item("Políticas de Segurança", root_path, "login_cliente") %>

        <%= menu_item("Veículos", root_path, "login_cliente") %>

      <% if cookies[:cliente].present? %>

        <%= menu_item("Perfil", edit_cliente_path(@cliente), "clientes") %>

        <%= menu_item("Minhas Reservas", reservas_path, "login_cliente") %>

        <%= menu_item("Sair", logout_cliente_path, "admin") %>

      <% else %>

        <%= menu_item("Cadastrar", new_cliente_path, "clientes") %>

        <%= menu_item("Login", login_cliente_path, "login_cliente") %>

      <% end %>


      </table>
      <div class="container">
        <div class="row">
          <div class="col-9">
            <form class="form" action="/" method="get" >
              <input type="text" id="busca" class="rounded border-0" name="nome" value="<%= params[:nome] %>" placeholder="Buscar veículos...">
              <button type="submit" class="btn btn-warning">Pesquisar</button>
            </form>
          </div>
          <a href="/" class="nav-link col-3 mt-1">  
            <div >
              <p class="text-light fs-7 text-center fs-1 titulos-car">Sam<i class="bi bi-car-front">Car</i></p>
              <p class="text-light fs-8 text-center mn">Aluguel de Veículos</p>
            </div>
          </a>  
        </div>
      </div>
    </div>
  </div>
</div>
