<!DOCTYPE html>
<html>
  <head>
    <title>LocacaoVeiculos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript" src=
"https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
  </head>

  <body>
    <%= render 'layouts/menu_loja', locals: { cliente: @cliente } %>
    <%= yield %>
    <%= render 'layouts/rodape_loja' %>
  </body>
</html>
